:root {
  --background-color: #e3d9d1;
  --primary-color: #1a1414;
  --secondary-color: #f84f19;
  --tertiary-color: #0d93c6;
}

html {
  box-sizing: border-box;
  font-family: "CooperBlack", serif;
  font-size: 16px;
  margin: 0, auto;
  padding: 0;
  width: 100vw;
  margin: 0, auto;
  line-height: 1.4rem;
  background-color: var(--background-color);
  color: var(--primary-color);
}

@font-face {
  font-family: "CooperBlack";
  src: url(fonts/CooperBlackStd.otf) format(opentype);
}
@font-face {
  font-family: "NHaasUnica";
  src: url(fonts/NHaasUnica.otf) format(opentype);
}

header {
  margin-top: 10vh;
  border-bottom: var(--tertiary-color) 2px solid;
  font-size: 3rem;
  line-height: 5rem;
  font-family: "CooperBlack";
  text-align: center;
  background-color: var(--background-color);
}

#navbar {
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  border-bottom: var(--tertiary-color) 2px solid;
}

#navbar a {
  color: var(--secondary-color);
  text-decoration: none;
  font-family: "CooperBlack";
  font-style: italic;
  font-size: 2.5rem;
  border-radius: 5%;
  padding: 1.5rem;
  background-color: var(--background-color);
}

#navbar a:hover {
  background-color: var(--primary-color);
}

#navbar a:active {
  color: var(--tertiary-color);
}

main {
  font-family: "NHaasUnica";
  margin: 0 5vw;
  text-align: justify;
  text-justify: inter-word;
}

main h2 {
  font-size: 2rem;
  font-family: "CooperBlack";
  text-align: center;
}

.text-block {
  column-count: 2;
  column-gap: 40px;
  column-rule: 1px solid var(--primary-color);
  break-before: column;
  margin-bottom: 3vh;
}

.image-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.image-row img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  padding: 5px;
}

.section {
  padding-top: 5vh;
}

.section:last-of-type {
  padding-bottom: 5vh;
}

footer {
  position: sticky;
  bottom: 0;
  border-top: var(--secondary-color) 2px solid;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  color: var(--tertiary-color);
  font-size: 2rem;
}

footer a {
  color: var(--tertiary-color);
  text-decoration: none;
  margin: 0 2.5vw;
}

footer a:hover {
  color: var(--secondary-color);
}

footer h2 {
  font-size: 2rem;
}

@media screen and (max-width: 960px) {
  header {
    font-size: 2rem;
    line-height: 4rem;
  }
  .image-row {
    flex-wrap: wrap;
  }
  footer {
    position: relative;
  }
}

.button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 5%;
  padding: 1.5rem;
  font-family: "CooperBlack";
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  border: 1px solid var(--primary-color);
}

@media screen and (max-width: 590px) {
  header {
    margin-top: 6vh;
    font-size: 1.5rem;
    line-height: 3rem;
  }
  #navbar {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
    line-height: 3rem;
  }
  #github-link {
    color: var(--secondary-color);
  }
  .image-row img {
    width: 80vw;
    height: auto;
  }
  .text-block {
    column-count: 1;
  }
}
